.art-news-articles{
  .left-col-title,
  .right-col-title{
    margin-bottom: var(--space-md);
  }

  .flex{
    display: flex;
    gap: var(--space-xl);
  }

  .left-col-featured
  .featured-news{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
  }

  .right-col-recent{
    width: 53%;

    .grid{
      display: grid;
      grid-template-columns: 
        repeat(auto-fit, minmax(265px, 2fr));
      gap: var(--space-lg);
    }
  }

  .left-col-featured{
    width: 47%;
  }
}

/* responsive */
@media (max-width: 800px) {
  .art-news-articles{
    .flex{
      flex-direction: column;
    }
  
    .right-col-recent{
      width: 100%;
    }
  
    .left-col-featured{
      width: 100%;
    }
  }
}