.main-nav{
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  height: 8rem;
    
  nav{
    .left-menu,
    .right-menu{
      display: flex;
      align-items: center;
      gap: var(--space-md);
    }
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-side-navigation{
    display: flex;
    align-items: center;
    gap: var(--space-lg);
  }

  .right-side-navigation{
    display: flex;
    gap: var(--space-md);
    align-items: center;

    .menu-item-40{
      a{
        background-color: var(--blue-500);
        padding: var(--space-sm) var(--space-md);
        border-radius: var(--radius-md);
        border: 1px solid var(--blue-400);
        color: var(--text-light);

        &:hover{
          background-color: var(--blue-400);
          color: var(--text-light);
        }
      } 
    }
  }

  .search-container{
    .search-btn{
      font-size: var(--space-base);
      background-color: transparent;
      color: var(--text-light);
      padding: 12px 14px;
      border-radius: var(--radius-circle);
      border: 1px solid var(--blue-200);
      cursor: pointer;
      transition: 0.4s;

      &:hover{
        background-color: var(--blue-200);
        border: 1px solid var(--blue-400);
        color: var(--text-dark);
      }
    }

    form > div{
      display: flex;
      gap: var(--space-sm);
    }

    .search-modal{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      width: 35%;
      border: none; 
      position: relative;

      i{
        position: absolute;
        top: 14px;
        left: 10px;
      }

      #s{
        padding: 15px 20px;
        background-color: var(--text-light);
        border-radius: var(--radius-lg);
        width: 100%;
        padding-left: 40px;
      }

      #s:focus{
        border: none;
        outline: none;
      }

      #searchsubmit{
        padding: 15px 20px;
        background-color: var(--blue-200);
        color: var(--text-dark);
        border: none;
        font-weight: bold;
        font-size: var(--font-sm);
        border-radius: var(--radius-lg);
        transition: 0.4s;
        cursor: pointer;

        &:hover{
          background-color: var(--blue-400);
          color: var(--text-light);
        }
      }
    }

    .search-modal::backdrop {
      background-color: rgba(0, 0, 0, 0.4); 
      backdrop-filter: blur(3px);    
    }
  }
}

header{
  padding: var(--space-xl) 0;
  
  h2{
    font-size: var(--font-lg);
    max-width: 60rem;
    line-height: 1.4;
  }
}