.news-card{
  transition: transform 0.3s ease-in-out;

  a{
    .news-card-img{
      width: 100%;
      aspect-ratio: 3 / 2;
      background-size: cover;
      background-position: center;
      border-radius: var(--radius-md);
      max-height: 410px;
    }

    &:hover{
      color: var(--color-light-gray);
    }
  }

  &:hover{
    transform: translateY(-10px);
  }
}

.featured-news .news-card{
  .card-content{
    .title{
      font-size: var(--font-lg);
    }
  }
}

.right-col-recent .news-card{
  .card-content{
    .post-description{
      font-size: var(--font-sm);
    }
  }
}
.news-card-description{
  .category-and-date{
    color: var(--blue-200);
    text-transform: uppercase;
    font-size: var(--font-sm);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--blue-200) ;
    margin-top: var(--space-md);
    padding: var(--space-sm) 0;
  }

  .card-content{
    .title{
      font-size: var(--font-base);
      color: var(--text-light);
      margin-bottom: var(--space-sm);
    }
  }
}
